{:source-paths ["src" "resources"]

 :nrepl        {:port 8888}
 :dev-http     {3000 "public"}

 :dependencies [[re-frame "1.0.0-rc2"]
                [reagent "1.0.0-alpha2"]]

 :builds       {:app {:target :browser
                      :modules {:main {:init-fn patu.examples.core/init}}
                      :output-dir "public/js"
                      :asset-path "/js"}}}
