{:source-paths ["src" "resources"]

 :nrepl        {:port 8888}
 :dev-http     {3000 "public"}

 :dependencies [[re-frame "1.0.0-rc2"]
                [reagent "1.0.0-alpha2"]
                [tongue "0.2.10"]]
                ; [applied-science/js-interop "0.2.11"]]

 :builds       {:app {:target :browser
                      :modules {:main {:init-fn app.core/init}}
                      :output-dir "public/js"
                      :asset-path "/js"
                      :compiler-options {:output-feature :es-next}}}}
