{:source-paths ["src" "resources"]

 :nrepl        {:port 8888}
 :dev-http     {3000 "public"}

 :builds       {:app {:target :browser
                      :modules {:main {:init-fn patu.examples.core/init}}
                      :output-dir "public/js"
                      :asset-path "/js"
                      :compiler-options {:output-feature :es-next}}}}
